<!DOCTYPE html>
<html>
  <head>
    <title>&lt;3</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script data-main="js/home" src="js/lib/require.js"></script>
  </head>
  <body>
    <header>
      <h3>Percolation <small>by <a href="https://twitter.com/sent1nel">Joshua K. Farrar</a></small></h3>
    </header>
    <canvas id="canvas" width="600" height="600"></canvas>
  </body>
</html>